.searchResults {
  height: 950px;
  overflow-y: scroll;
  background-color: rgba(1, 12, 63, 0.7);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* @media only screen and (max-width: 1020px) {
  .searchResults {
    width: 90%; 
    margin-bottom: 2rem;
  }
} */
